<div class="container mt-5 text-center">
  <h2>Welcome to back, {{user.firstName}}!</h2>
  <div class="my-3">
    <a class="btn btn-primary" href="/login">Sign out</a>
  </div>
  <img src="/img/kokomade.jpg" class="d-block w-75 mx-auto" alt="top-image">
</div>