<div class="container mt-5 text-center">
  <h2>Welcome to back, {{user}}!</h2>
  <div class="my-3">
    <a id="sign-out" class="btn btn-primary" href="javascript:;">Sign out</a>
  </div>
  <img src="/img/kokomade.jpg" class="d-block w-75 mx-auto" alt="top-image">
</div>